apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: fintlabs-no

resources:
  - ../../../base

labels:
  - pairs:
      app.kubernetes.io/instance: fint-arkiv-adapter-simulator_fintlabs_no
      fintlabs.no/org-id: fintlabs.no

patches:
  - patch: |-
      - op: replace
        path: "/metadata/labels/app.kubernetes.io~1instance"
        value: "fint-archive-gateway_fintlabs_no"
      - op: replace
        path: "/spec/url/basePath"
        value: "/beta/fintlabs-no"
      - op: replace
        path: "/spec/observability/metrics/path"
        value: "/beta/fintlabs-no/actuator/prometheus"
      - op: replace
        path: "/spec/ingress/basePath"
        value: "/beta/fintlabs-no/api/intern/arkiv"
      - op: replace
        path: "/spec/probes/startup/path"
        value: "/beta/fintlabs-no/actuator/health"
      - op: replace
        path: "/spec/probes/readiness/path"
        value: "/beta/fintlabs-no/actuator/health/readiness"
      - op: replace
        path: "/spec/probes/liveness/path"
        value: "/beta/fintlabs-no/actuator/health/liveness"
      - op: replace
        path: "/spec/observability/metrics/path"
        value: "/beta/fintlabs-no/actuator/prometheus"
    target:
      kind: Application
      name: fint-arkiv-adapter-simulator
